html
    head
        title Создать новую модель
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="/css/jquery-ui.min.css")
        link(rel="stylesheet", href="/css/styles.css")
    body
        #myscr
            h5 Прикрепите изображения в нужном порядке
            form(action="/upload", method="post", enctype="multipart/form-data")
                div
                    input#shrink(type="checkbox", name="shrink", checked)
                    label(for="shrink") Сжимать изображения, чтобы сервер не падал?
                input(type="file", name="pics", multiple)
                button.btn(type="submit") Загрузить